# Protonox framework ignores
*.zip
*.rar
*.tar
*.gz
*.gzip
*.7z
*.apk
*.aab
*.ipa
*.exe
*.msi
*.keystore
*.log
*.tmp
*.spec

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.build/
build/
dist/

# Environments
.venv/
venv/
.env
.env.*
.python-version

# Tooling
.mypy_cache/
.pytest_cache/
.cache/
.coverage*
htmlcov/

# Editors/OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Protonox Studio
.protonox/
logs/
protonox-export/

# Kivy / build artifacts
.kivy/
.kivy_modernisation/
android-*
